*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first-header{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0px 0px 0.5px 0.5px grey; */
}
.first-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}
.first-nav a{
    color: black;
    text-decoration: none;
}
.second{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, #9fa2a4);
    padding: 20px;
    box-shadow: 0px 0px 0.5px 0.5px grey;

}
.sec-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}
.sec-nav  a{
   color: black;
   text-decoration: none;
}
button{
    height: 20px;
    border: none;
}
input{
    width: 200px;
    height: 20px;
    border: none;
    box-shadow: 0px 1px 1px 1px gray;
    border-radius: 10px;
}
.content-1{
   /* border: 1px solid black; */
   width: 700px;
   height: 400px;
}
main{
    width: 100%;
   
}
.container{
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;

}
span{
    font-weight: 700;
 font-size: 30px;
}
.product1{
    /* border: 1px solid; */
    width: 350px;
    box-shadow: 0px 1px 1px 1px grey;
    height: 450px;
    text-align: center;
}
.product-container{
    /* border: 1px solid black; */
    padding: 20px;
}
.product1 span{
    text-align: center;
}
span{
    text-align: center;
}
.product1 img{
    width: 200px;
}.product-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto ;
    gap: 30px;
}
.content{
    padding: 10px;
    width: 250px; 
    box-shadow: 0px 2px 2px 2px grey;
    height: 250px;
   
}
.content:hover{
  animation: product ease-in-out 4s ;
       cursor: pointer;
}
@keyframes product {
    0%{
        transform: scaleX(1);
    }
    25%{
        transform: scaleX(1.1) scaleY(1.1);
    }
    50%{
        transform: scaleX(1.1) scaleY(1.1);
    }
    100%{
        transform: scaleX(1.1) scaleY(1.1);
    }
}
.content span {
    font-size: 15px;

}
img{
    width: 150px;
    height: 150px;
}
h2{
    animation: heading ease-in-out  ;
}
@keyframes heading {
    0%{
       transform: translateX(-0px);
    }
    50%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(-0px);
    }
}
.image-slide-container img {
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 0px 2px 2px 2px gray;
    height: 150px;
    width: 150px;
animation: round ease-in-out 4s infinite;
}
@keyframes round {
    0%{
        transform: rotateX(0deg);

    }
    50%{
        transform: rotateX(180deg);
        
    }
    100%{
        transform: rotateX('0deg');
    }
}
